
@{
    ViewData["Title"] = "Index";
}

<h1>Dashboard</h1>

<h1>Admin Dashboard</h1>
<p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Go to Home Page</a>
</p>

<p>
    <a asp-controller="Dashboard" asp-action="GoToHome">Redirect to Home Page from Dashboard</a>
</p>
