@model Fashion.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstaUrl" class="control-label"></label>
                <input asp-for="InstaUrl" class="form-control" />
                <span asp-validation-for="InstaUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkeUrl" class="control-label"></label>
                <input asp-for="LinkeUrl" class="form-control" />
                <span asp-validation-for="LinkeUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrEmpty(Model.EmployeeImg))
            {
                <div class="form-group">
                    <label>Current Image</label>
                    <div>
                        <img src="@Model.EmployeeImg" alt="Customer Image" style="max-width: 100px; max-height: 100px;" />
                    </div>
                </div>
            }
            <div class="form-group">
                <label asp-for="formFile" class="control-label">Change image</label>
                <input asp-for="formFile" type="file" class="form-control" />
                <span asp-validation-for="formFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-warning">Back To List </a>
</div>

