@model IEnumerable<Product>

@{
    ViewData["Title"] = "HomePage";
}



    @await Component.InvokeAsync("Slider")


<section class="front-product">
    <div class="container-fluid p-0">
        <div class="row align-items-center">

            <div class="col-lg-6 col-12">
                <img src="~/images/retail-shop-owner-mask-social-distancing-shopping.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 col-12">
                <div class="px-5 py-5 py-lg-0">

                    <h2 class="mb-4"><span>Retail</span> shop owners</h2>

                    <p class="lead mb-4">Credits go to Unsplash and FreePik websites for images used in this Little Fashion by Tooplate.</p>

                    <a asp-action="Product" asp-controller="Home" class="custom-link">
                        Explore Products
                        <i class="bi-arrow-right ms-2"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="featured-product section-padding">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="mb-5">Featured Products</h2>
            </div>
              @foreach (var item in Model)
            {
                <div class="col-lg-4 col-12 mb-3">
                    <div class="product-thumb">
                        <a href="product-detail.html">
                            <img src="@item.ProductImg" class="img-fluid product-image" alt="">
                        </a>

                        <div class="product-top d-flex">
                            <span class="product-alert me-auto">New Arrival</span>

                            <a href="#" class="bi-heart-fill product-icon"></a>
                        </div>

                        <div class="product-info d-flex">
                            <div>
                                <h5 class="product-title mb-0">
                                    <a href="product-detail.html" class="product-title-link">@item.ProductName</a>
                                </h5>

                                <p class="product-p">@item.ProductDescription</p>
                            </div>

                            <small class="product-price text-muted ms-auto mt-auto mb-5">$@item.ProductPrice</small>
                        </div>
                    </div>
                </div>
                
            }


            <div class="col-12 text-center">
                <a asp-action="Product" asp-controller="Home">View All Products</a>
            </div>
           

        </div>
    </div>
</section>

           